.header {
    display: flex;
    flex-direction: row;
    background-color: var(--main-dark-color);
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding: 0.5rem 1.5rem;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
