.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.loginButton {
    width: 5rem;
    height: 2rem;
    color: var(--text-main-color);
    background-color: transparent;
    border: 1px solid var(--blue-theme);
    border-radius: 3px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0.4rem;
    padding: 0.4rem;
    box-shadow: none;
    cursor: pointer;
}

.registerButton {
    width: 6rem;
    height: 2rem;
    color: var(--text-main-color);
    background-color: var(--blue-theme);
    border: 1px solid var(--blue-theme);
    border-radius: 3px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0.4rem;
    padding: 0.4rem;
    box-shadow: none;
    cursor: pointer;
}

.link {
    display: flex;
    align-items: center;
    color: var(--text-main-color);
    font-size: 1rem;
    text-decoration: none;
    margin-right: 1rem;
}

.span {
    margin-left: 0.5rem;
}

